<!doctype html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>AngularJS test</title>

  <script src="http://code.angularjs.org/1.2.4/angular.js"></script>
  <script src="../angular-route/angular-route.js"></script>

  <script src="../lodash/dist/lodash.js"></script>
  <script src="../json/json.js"></script>
  <script src="../async/lib/async.js"></script>
  <script src="../active-support/active-support.js"></script>
  <script src="../angular-resource/active-resource.js"></script>
  <script src="../angular-resource/api/api.js"></script>
  <script src="../angular-resource/collection/collection.js"></script>
  <script src="../angular-resource/association/association.js"></script>
  <script src="../angular-resource/base/base.js"></script>
  <script src="scripts/app.js"></script>
</head>
<body>
  <h1>Sensors</h1>

  <div ng-controller="MainCtrl">
    <table>
      <thead>
        <th>ID</th>
        <th>Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="sensor in system.sensors">
          <td>{{sensor._id}}</td>
          <td>{{sensor.name}}</td>
          <td><button class="btn btn-primary" ng-click="sensor.$delete()">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <form ng-submit="sensor.$save()">
      <input ng-model="sensor.name">
      <input type="submit" id="submit" value="Submit" />
    </form>
  </body>
</html>
